# --- PILONUL 1: Robotică & Reinforcement Learning ---
gymnasium
stable-baselines3[extra]
coppeliasim-zmqremoteapi-client
pyzmq

# --- PILONUL 2 & 3: Optimizare TSP, NLP și Analiză de Date ---
numpy
pandas
matplotlib
seaborn
scikit-learn
nltk
spacy

# --- INTERFAȚA GRAFICĂ (Integrare proiect) ---
streamlit